@model vascernNew.Models.Favourites

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Favourites</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Uuid" class="control-label"></label>
                <input asp-for="Uuid" class="form-control" />
                <span asp-validation-for="Uuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StructureId" class="control-label"></label>
                <input asp-for="StructureId" class="form-control" />
                <span asp-validation-for="StructureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-block btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

